/*genrel classes*/

.bold {
    font-weight: 700;
}

.light-blue {
    background-color: #f4f5f6;
}

.white {
    background-color: #ffffff;
}

.bg-light-grey {
    background-color: #f4f5f6;
}

.c-white {
    color: white;
}

.c-orange {
    color: #f72210;
}

.orange {
    background-color: #f72210;
}

.black {
    color: black !important;
}

.light-black {
    color: #333333;
}

.bg-light-grey:hover {
    background-color: #a8a8a8;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-17 {
    font-size: 17px !important;
}

.f-18 {
    font-size: 18px;
}

.f-19 {
    font-size: 19px;
}

.unstyled-link {
    text-decoration: none;
}

.hover:hover {
    color: #f72210 !important;
    text-decoration: none !important;
}

.roboto {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder !important;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.lora {
    font-family: 'Lora', serif;
}

.img-sm {
    height: 90px;
    width: 135px;
}

.pointer:hover {
    cursor: pointer;
}

.orange-button {
    background-color: #f72210;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px 10px 12px;
}

/*classes*/

.page-container {
    width: 1310px;
}

.page-header {
    width: 100%;
    height: 95px;
}

.nav-link:hover {
    color: #f72210 !important;
}

.category {
    color: black;
    background-color: #c2d4d7;
}

.category:hover {
    color: #c2d4d7;
    background-color: #333333;
    text-decoration: none;
}

.culture {
    height: 475px;
}

.culture_2 {
    height: 390px;
}

.icon {
    width: 29px;
    height: 28px;
    background-color: #f72210;
}

.sign-up {
    width: 100px;
    height: 38px;
    background-color: #666666
}

.top-title {
    font-size: 22px;
    font-weight: bolder;
}

.magazine>div>article>a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.row-section>article {
    height: 376px;
    width: 320px;
}

.row-section>article>a>img {
    height: 290px;
    width: 100%;
}

.subscribe-left {
    max-height: 301px;
}

.overlayed-image {
    position: relative;
    top: -212px;
    left: 80px;
}

.footer-image {
    background-image: url(https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png?w=397&h=265&q=90&f=172a044c08b5e64f42dcb61b425487bf);
    background-size: cover;
    background-position: center center;
    max-width: 191px;
    width: 191px;
    height: 301px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    h4 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1310px) {
    .page-container {
        max-width: 100%;
    }
}